extends layouts/default
block bg
  style.
    .main_image {
      background: url(../images/bg/bur.png) no-repeat 50% 0;
      background-size: cover;
      position: relative;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

block top_content
  .top-content.full_height
    .header
      | общая информация
    .body
      | Общество с ограниченной ответственностью «АПС» является современной, динамично развивающейся организацией, специализирующейся на выполнении работ по защите металлических, железобетонных строительных конструкций и оборудования в нефтегазовой отрасли.
    .footer
      img(src="images/pdf.png")
      a(href="#") Посмотреть презентацию
    .arrow_down
      img(src="images/arrow_down.png")
    .sign
      //- button.button Подписаться
block content
  .c-mid-info-wrap
    .container
      .row.c-mid-info
        .col-md-7.photo
          img(src="images/c_info_photo.png")
        .col-md-5.text
          h3 О НАС
          p Образованная в 2009 году, компания АПС, прошла путь от небольшой организации до многопрофильного производственного объединения, способного решать самые сложные задачи.
          p В настоящее время, в перечень оказываемых услуг входят следующие работы:
          p.list
            ul
              li Антикоррозийная защита металлических конструкций различного назначения и размеров в больших объемах.
              li Антикоррозийная защита внутренних и наружных поверхностей
              li Антикоррозийная защита металлических конструкций работающих при высоких температурах, до 500 С
              li Антикоррозийная защита высотных и труднодоступных объектов промышленных производств повышенной опасности, в том числе силами промышленных альпинистов.
              li Ремонт металлических и бетонных поверхностей в зонах переменного уровня воды.
              li Огнезащитная обработка металлоконструкций;
              li Устройство антистатических наливных полов;
              li Работы по изоляции металлических и бетонных конструкций;
              li Устройство электрохимической защиты.
    .soc_items
        a.fb(href="http://facebook.com")
          img(src='images/fb-gray.png')
        a.vk(href="http://vk.com")
          img(src='images/vk-gray.png')
    .lang_item
      | RU
  .c-sub-info
    .inner
      .container
        .row
          .col-md-12
            p Организация имеет четко сформированную структуру, в которой каждый сотрудник находится на своем месте, отвечает за определенный участок работы. Штат компании сформирован из руководителей и специалистов, имеющих большой практический опыт производственной деятельности.
            p Многолетнее сотрудничество с профильными образовательными учреждениями позволяет проводить как первоначальную подготовку так и организовывать переподготовку и повышение квалификации рабочего персонала, специалистов и руководителей.
  .c-customers
    .container
      h3.header наши постоянные клиенты
      .row.customer-items
          .col-md-12
            .item
              .item-1
            .item
              .item-2
            .item
              .item-3
            .item
              .item-4
            .item
              .item-5
            .item
              .item-6
            .item
              .item-7
            .item
              .item-8
            .item
              .item-9
            .item
              .item-10
            .item
              .item-11
            .item
              .item-12
            .item
              .item-13
            .item
              .item-14
            .item
              .item-15
            .item
              .item-16
  .container
    .c-bot-info
      .row
        .col-md-6
            p Работы выполняются собственными силами с использованием современных технологий, как гидропескоструйной, так и сухой пескоструйной, механической или гидроструйной очисткой поверхностей.
            p Компания располагает современным оборудованием, способствующим поддержанию высоких стандартов качества, утвержденных в организации (компрессора "Атлас Копко" с рабочим давлением 12 бар, абразивоструйные котлы производства фирмы Кiess, окрасочное оборудование фирм Graco и WIWA, теплогенераторы Mepu, вышки-тур, ).
            p ООО «АПС» является членом СРО Некоммерческое партнерство по строительству
        .col-md-6
          p нефтегазовых объектов «Нефтегазстрой-Альянс». Деятельность по нанесению огнезащитной композиции лицензирована МЧС РФ.
          p Организация работ на удаленных объектах включает в себя полный цикл жизнеобеспечения (проживание, питание, транспорт, медицинское наблюдение).
          p Особое внимание уделяется дисциплине рабочего персонала. Охрана труда на предприятии находится на уровне лучших отраслевых показателей и обеспечивает гарантировано безопасное производство работ.
  //- include includes/footer.jade
