extends layouts/default
block bg
  style.
    .main_image {
      background: url(../images/bg/main_page.png) no-repeat 50% 0;
      background-size: cover;
      position: relative;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

block top_content
  .owl-carousel#main-slider
      div.first-item
        .header Здоровье и красота
        .content Ваших зданий и сооружений
      div.second-item
        .header О КОМПАНИИ
        .content
          div ООО "АПС" была основана в 2009г. в Санкт-Петербурге.
          p
            | Все эти годы компания активно развивалась. На сегодняшний день мы предлагаем полный спектр услуг по защите металлических и железобетонных конструкций. Наша компания ведет свою деятельность на Крайнем Севере, Дальнем Востоке, а также в регионах Центральной части России.
          p
            | Мы выполняем полный комплекс антикоррозийных работ в разных отраслях промышленности: строительной, судостроительной, транспортной, машиностроительный, химической и нефтегазовой.
          p
            | Опытные специалисты нашей компании работают с лакокрасочными материалами отечественных и зарубежных производителей, одобренными ВНИИСТ: "Стилпейнт", "Хемпель", "Амерон", "Текнос", "Колон", "Интернешнл", "Йотун", "Тиккурила" и другими. Высокотехнологичные свойства используемых нами материалов, гарантируют высокое качество лакокрасочного покрытия сроком до пяти лет.

