extends layouts/default
block bg
  style.
    .main_image {
      background: url(../images/bg/m-bg.png) no-repeat 50% 0;
      background-size: cover;
      position: relative;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

block top_content
  .top-content.full_height
    .header
      | миссия и цели
    .body
      p Миссия компании  «АПС» – вносить достойный вклад в социально-экономическое развитие современного общества за счет постоянного повышения качества, эксплуатационной надежности, долговечности, безопасности и экологической чистоты при строительстве особо опасных производственных объектов.

    .arrow_down
      img(src="images/arrow_down.png")
block content
  .m-wrapper
    .lang_item
      | RU
    .container
      .row.m-info
        .col-md-4
          h3 главная цель компании -
          | выйти на уровень основного стратегического партнера для действующих и потенциальных заказчиков, быть в числе глобальных лидеров нефтегазового строительства.
        .col-md-4
          img.photo(src='images/m-photo.png')
        .col-md-4
          h3 Девиз компании «АПС» -
          .citate
            img.qleft(src='images/qleft.png')
            | Качество, надежность, инновации.
            img.qright(src='images/qright.png')
          | Именно эти ценности являются основой бизнеса компании. Привлекая лучших специалистов, применяя самые современные технологии и стандарты управления, компания «АПС» реализует масштабные нефтегазовые проекты, гарантируя безопасность, качество и надежность при любых условиях.

