extends layouts/default
block bg
  style.
    .main_image {
      background: url(../images/bg/t.png) no-repeat 50% 0;
      background-size: cover;
      position: relative;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

block top_content
  .top-content.full_height

    .body
      p Данный раздел предоставляет общую информацию о конкурсных торгах по выбору поставщиков товаров (продукции), а также исполнителей работ и услуг для нужд ООО «АПС», проводимых Тендерным комитетом ООО «АПС»
      p Данный раздел предоставляет общую информацию о конкурсных торгах по выбору поставщиков товаров (продукции), а также исполнителей работ и услуг для нужд ООО «АПС», проводимых Тендерным комитетом ООО «АПС»
    .arrow_down
      img(src="images/arrow_down.png")
block content
  .tend-wrap
    .tend-mid-info
      .container
        .row
          .col-md-6
            p Конкурсные торги в ООО «АПС» регламентируются специальными внутренними нормативными актами ООО «АПС» - «Положением об организации и проведении конкурсных торгов», «Правилами проведения конкурсных торгов по выбору подрядчика для выполнения работ и оказания услуг, связанных с производственной деятельностью компании АПС», «Правилами проведения конкурсных торгов по выбору поставщиков материально-технических ресурсов», утвержденными Приказом ООО «АПС».
            p Информация об условиях проведения конкурсных торгов размещается на сайте ООО «АПС» не менее чем за десять дней до момента (дня) вскрытия конвертов с заявками претендентов на участие в конкурсе. Конкурсная документация предоставляется в соответствии с порядком, указанным в объявлении о проведении конкурсных торгов.
          .col-md-6
            p Заказчик оставляет за собой право принять или отклонить любое конкурсное предложение, или отклонить все предложения в любой момент, вплоть до закрытия торгов, не несет при этом никакой ответственности перед участниками торгов, которым такое действие причинило или могло нанести ущерб, а также не несет никаких обязательств по информированию участников торгов относительно причин таких действий.
    .tend-sub-info
      .container
        .row
          .col-md-12
            | ВНИМАНИЕ! В соответствии с Федеральным законом №148-ФЗ от 22.07.2008 г. с 1 января 2010 г. вместо лицензии на проектную, изыскательскую и строительную деятельности в составе конкурсной документации необходимо представлять документ, подтверждающий членство в саморегулируемой организации (СРО) и свидетельство о допуске к работам
    .tend-bot-info
      .container
        .row
          .col-md-12
            table
              thead
                tr
                  td Дата
                  td Название
                  td Документы
              tr
                td 21.12.2016
                td
                  | Поставка радиостанций, зарядных устройств к радиостанциям и лицензий для радиосети ПАО «Аэрофлот» № закупки - 31604029649
                td.doc
                  img(src='images/pdf.png')
                  a(href="#") Название документа
              tr
                td 21.12.2016
                td
                  | Поставка радиостанций, зарядных устройств к радиостанциям и лицензий для радиосети ПАО «Аэрофлот» № закупки - 31604029649
                td.doc
                  img(src='images/pdf.png')
                  a(href="#") Название документа
              tr
                td 21.12.2016
                td
                  | Поставка радиостанций, зарядных устройств к радиостанциям и лицензий для радиосети ПАО «Аэрофлот» № закупки - 31604029649
                td.doc
                  img(src='images/pdf.png')
                  a(href="#") Название документа
              tr
                td 21.12.2016
                td
                  | Поставка радиостанций, зарядных устройств к радиостанциям и лицензий для радиосети ПАО «Аэрофлот» № закупки - 31604029649
                td.doc
                  img(src='images/pdf.png')
                  a(href="#") Название документа
