extends layouts/default
block bg
  style.
    .main_image {
      background: url(../images/bg/treat.png) no-repeat 50% 0;
      background-size: cover;
      position: relative;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

block top_content
  .top-content.full_height
    .header
      | обращение руководства
    .body
      p Уважаемые коллеги и партнеры!
      p ООО «АПС» переходит на новый этап развития, следуя тенденциям в нефтегазовом строительстве. Наша компания уже зарекомендовала себя как одна из ведущих в отрасли и не останавливается на достигнутом.
    .arrow_down
      img(src="images/arrow_down.png")
block content
  .t-info-wrapper
    .container
      .row.t-info
          .col-md-6
            h3 основы нашей команды
            | высокопрофессиональные специалисты. Благодаря накопленному годами упорной работы опыту любые сложности для нас разрешимы. Мы делаем то, о чем потом пишут книги и научные статьи: работаем в условиях сурового и, порой, непредсказуемого климата, прокладываем переходы через, казалось бы, непреодолимые природные преграды, строим объекты на сложных рельефах – и все это с соблюдением высочайших стандартов качества и безопасности
          .col-md-6
            h3 Компания ООО «АПС» участвовала
            | в масштабных «стройках века»: нефтепроводной системе Восточная Сибирь – Тихий Океан, Балтийской трубопроводной системе – 2, ямальской газопроводной системе Бованенково – Ухта, газопроводе Ухта - Торжок. Среди проектов, которыми мы гордимся – строительство уникальной по сложности и масштабу компрессорной станции "Портовая","Заполярная", ключевого элемента российской газотранспортной системы.
    .lang_item
      | RU
  .t-subinfo
    .inner
      .container.content
        .row.info
          .col-md-12
            | Компания сильна своими традициями и всегда следует намеченным целям. Сегодня перед нами стоят глобальные и сложные задачи, которые сопряжены с новыми вызовами. Я уверен, что профессионализм и преданность коллектива ООО «АПС» позволит нам продолжить выполнять все взятые на себя обязательства и достигнуть новых вершин профессионального мастерства.
        .row.general-sign
          .col-md-4
            .general-name Оконский Алексей Евгеньевич,
            .sibsign Генеральный директор
            .sibsign ООО «АПС»
