footer
  .container
    .row
      .col-md-3
        | (С) Все права защищены, ООО APS, 2016
      .col-md-3.col-md-offset-6.copyright
        | Создание сайтов, Elgrow, 2016
      .soc_items
        a.fb(href="http://facebook.com")
          img(src='images/fb-gray.png')
        a.vk(href="http://vk.com")
          img(src='images/vk-gray.png')
