header
  .logo
      img(src='images/logo.png')
  .phone_cnt.pull-right
    .phone
      | +7 343 302 14 88
    .phone_btn
      button.button.blue
        | Заказать звонок
    //- .lang_item
    //-   | RU
    //- .soc_item
    //-   a.fb(href="http://facebook.com")
    //-     img(src='images/facebook.png')
    //-   a.vk(href="http://vk.com")
    //-     img(src='images/vk.png')
