.menu_overlay
  ul.items
      li
        a(href="#")
          | ГЛАВНАЯ
      li.parent_item(href="#")
          |О КОМПАНИИ
       ul.inner_menu
         li
          a(href="#")
            | Общая информация
         li
          a(href="#")
            | Обращение руководства
         li
          a(href="#")
            | Обращение парк техники
         li
          a(href="#")
            | Миссия и стратегия
         li
          a(href="#")
            | Организационная структура
         li
          a(href="#")
            | Презентация
         li
          a(href="#")
            | Работа в компании
         li
          a(href="#")
            | Тендер
      li
        a(href="#")
          | ДЕЯТЕЛЬНОСТЬ
      li
        a(href="#")
          | ГЕОГРАФИЯ ОБЪЕКТОВ
      li
        a(href="#")
          | ПРЕСС-ЦЕНТР
      li
        a(href="#")
          | РАЗВИТИЕ
      li
        a(href="#")
          | КОНТАКТНАЯ ИНФОРМАЦИЯ
.sidebar
    .outer
      .middle
        .menu_btn
            #nav-icon
                span
                span
                span
                span
            | МЕНЮ
