.modal.fade#feedback-popup(tabindex='-1',role='dialog',aria-hidden='true',aria-labelledby='feedback-popup-label')
  div.modal-dialog(role='document')
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4.modal-title Заказать звонок
      form
        div.modal-body
          div.form-group
            label.form-control-label(for='full-name') ФИО
            input.form-control#full-name(name='full-name')
          div.form-group
            label.form-control-label(for='phone') Номер телефона
            input.form-control#email(name='phone')
        div.modal-footer
          input.button.blue(type='submit',value='Отправить')
