.modal.fade#subscription-popup(tabindex='-1',role='dialog',aria-hidden='true',aria-labelledby='feedback-popup-label')
  div.modal-dialog(role='document')
    div.modal-content
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4.modal-title Обратная связь
      form
        div.modal-body
          div.form-group
            label.form-control-label(for='full-name') ФИО
            input.form-control#full-name(name='full-name')
          div.form-group
            label.form-control-label(for='email') E-mail
            input.form-control#email(name='email')
          div.form-group
            label.form-control-label(for='subject') Тема сообщения
            input.form-control#subject(name='subject')
          div.form-group
            label.form-control-label(for='message') Текст сообщения
            textarea.form-control#message(name='message',rows="4")
        div.modal-footer
          input.button.blue(type='submit',value='Отправить')
